body{
    align-items: center;
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
p{
    font-size: 14px;
}

.image{
    width: 22%;
    height: 10%;
    border-radius: 10px 0px 0px 10px;

}
.container-right{
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 10px 10px 0px;
    padding: 2%;
    position: relative;
    right: 5px;
    width: 22%;
    height: 15%;
    background-color: white;
}

.stupid{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 10%;
    position: relative;
    left:2%;
    top:5px;

}
.stupid:hover{
    background-color: hsl(212, 21%, 14%) ;
}
/* Text items */
.text-items{
    text-align: left;
}
h1{
    font-size:36px;
    font-weight: bold;
    font-family: 'Fraunces', serif;

}
.price{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 220px;
}
.price-tag{
    font-family: "Montserrat", serif;
    font-weight: 500;
    color:green;
}
.price-tag2{
    position: absolute;
    color: gray;
    top: 15%;
    right: 0;
}
.perfume{
    letter-spacing: 5px;
    text-transform:uppercase;
    color: gray;
}
.chunk{
    color: gray;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Fraunces', serif;
}
.sizing{
    margin-right:15%;
}
.inside{
    margin-left: 2%;
}