body{
    align-items: center;
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.image{
    width: 22%;
    height: 10%;
    border-radius: 10px 0px 0px 10px;

}

.container-right{
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 10px 10px 0px;
    padding: 2%;
    position: relative;
    right: 5px;
    width: 23%;
    height: 15%;
    background-color: white;
}

.stupid{
    background-color: hsl(158, 36%, 37%);
    width: 90%;
    height: 5%;
    position: relative;
    left:2%;
    top:8px;

}

.stupid:hover{
    background-color: hsl(212, 21%, 14%) ;
}
/* Text items */
.text-items{
    text-align: left;
}

h1{
    font-size:36px;
    font-weight: bold;
    font-family: 'Fraunces', serif;

}

.price{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 220px;
}

.price-tag{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color:green;
}

.price-tag2{
    position: absolute;
    font-family: 'Fraunces';
    font-weight: 500;
    color: gray;
    top: 15%;
    right: 0;
}

.perfume{
    letter-spacing: 5px;
    text-transform:uppercase;
    color: gray;
}

.chunk{
    padding-top: 10%;
    color: gray;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Fraunces', sans-serif;
}

.sizing{
    margin-right:15%;
}

.inside{
    margin-left: 2%;
}